[submodule "extdeps/picotest"]
	path = extdeps/picotest
	url = https://github.com/Buanderie/picotest.git
[submodule "extdeps/picojson"]
	path = extdeps/picojson
	url = https://github.com/kazuho/picojson.git
[submodule "extdeps/Catch"]
	path = extdeps/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "extdeps/cppzmq"]
	path = extdeps/cppzmq
	url = https://github.com/zeromq/cppzmq.git
